html {
  color-scheme: light dark;
  font-family: system-ui;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.red {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.yellow-green {
  background-color: yellowgreen !important;
  border-color: yellowgreen !important;
  color: black !important;
}

.green {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}

.text-white {
  color: white !important;
}

.vis-item.vis-dot {
      border-width: 10px;
      border-radius: 10px;
    }
    